*{
	margin:0 auto;
	padding:0;
	font-family:"Atlas";
}
.clear{
    clear:both;
}
.wrapper {
    margin: 2%;
    background-color: #ffffff;
   /* height: 635px;*/
    direction: rtl;
    border: #000000 1px solid;
}

#first-article {
    float: right;
    width: 97%;
    height: 63.5%;
    margin: 1.5%;
    display: block;
    padding-right: 14px;
    padding-left: 14px;
}
.main-title {
    background-color:#53C4F1 ;
    display: inline-block;
}
.sub-title{
    color:#53C4F1;
}
#first-article .content{
    column-count: 4;
    column-gap: 30px;
}
.content p{
    text-indent: 15px;
    text-align: justify;
}
#second-article {
    float: right;
    width: 97%;
    margin-bottom: 1.5%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    height: 27.5%;
    padding-right: 14px;
    padding-left: 14px;
}
#second-article .small-content{
    column-count: 3;
    column-gap: 30px;
}
#second-article .small-content p{
    text-indent: 15px;
    text-align: justify;
}
.small-main-title {
    background-color:#EE422F ;
    display: inline-block;
}
.small-sub-title{
    color:#EE422F;
}
.content-img{
    margin:1.5%;
}